.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
a{
	color: #FFFFFF;
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0;
}
body{
	color: #fff;
	background: url(../img/02.jpg) no-repeat fixed;
}
header{
	margin-top: 40px;
}
.body{
	max-width: 1200px;
	padding: 20px;
	margin: auto;
}
.logo{
	width: 80px;
}
header{
	position: relative;
}
.a{
	position: absolute;
	right: 0;
	top: 0;
}
.a li{
	float: right;
	margin: 20px 30px;
}
.a li a{
	padding: 20px;
	text-align: center;
	line-height: 60px;
	border: 1px solid rgba(0,0,0,0);
	transition: color .5s,border .5s;
}
.a li a:hover{
	color: #000;
	border: 1px solid #000;
}
p a{
	border-bottom: 1px dashed #fff;
	padding: 4px;
}
h1{
	margin: 50px 0;
}
.zxc li{
	float: left;
	display: inline-block;
	width: 160px;
	height: 48px;
	border: 1px solid #000;
	text-align: center;
	line-height: 48px;
	margin: 10px 20px 0 0;
	background: rgba(100, 100, 200, 0.6);
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0);
	transition: border-radius .5s,background .5s;
}
.zxc li:hover{
	border-radius: 0;
	background: rgba(100, 100, 200, 0.8);
}
.work{
	float: left;
	margin:calc(10%/6) calc(10%/3) 0 0;
	width: 30%;
	position: relative;
}
.xiangmu ul li img{
	width: 100%;
	-webkit-filter:grayscale(.5);
	transition: -wedkit-filter .5s;
}
.xiangmu ul li p{
	height: 30px;
	position: absolute;
	width: 100%;
	text-align: center;
	margin: auto;	
	top:calc(50% - 15px);
	z-index: 3;
	color: rgba(255,255,255,0);
	transition: color .5s;
}
.xiangmu ul li:hover img{
	-webkit-filter:grayscale(0) ;
}
.xiangmu ul li:hover p{
	color: rgba(255,255,255,1);
}








